#nav-bar #links ul li:nth-child(3) ul li {
    padding:10px 14px;
    margin-left:7px;

}
/*
#nav-bar #links ul li:nth-child(3) ul li:hover{
    border-left:2px solid black;
}*/
#nav-bar #links ul li:nth-child(3) ul #response ul{
    display:none;
}
#nav-bar #links ul li:nth-child(3) ul #response:hover ul{
    display:block;
}

#footer #threeFooter div ul li:hover{
    transform:translateX(20px);
    
}
